body,
html {
    height: 100%;   
}

body {
    background: #ffffff; /* Old browsers */
    font: normal 1em sans-serif;
    text-align: center;
}

form {
    position: absolute;
    top: 50px;
    left: 5%;
    text-align: left;
    z-index: 1;
}

label { 
    display: block;
    line-height: 1.3em;
    padding-left: .3em;
    cursor: pointer;
}

input[type=radio] {
    margin: 0 0 0 .4em;
    padding: 0;
    cursor: pointer;
}

fieldset,
legend,
code,
code:before {
    background: #EEF;
    background: rgba(238, 238, 255, .6);
    border: solid 1px #CCC;
    border-radius: 5px;
    -moz-transition: all .2s ease;
    -webkit-transition: all .2s ease;   
    transition: all .2s ease;
}

fieldset:hover,
fieldset:hover legend,
code:hover,
code:hover:before {
    background: rgba(238, 238, 255, .9);
}

fieldset {
    clear: left;
    float: left;
    width: 150px;
    padding: .6em .6em 1em;
    margin-top: 1em;
}

fieldset.size {
    line-height: 1.8em; 
}

fieldset.size legend {
    line-height: 1em;   
}

input[name=size] {
    display: inline-block;
    text-align: center;
    width: 1.2em;
    padding: .1em;
    border: solid 1px #CCC;
}

legend {
    font-weight: bold;
    padding: .4em;  
}

.smiley {
    display: block; 
    position: relative;
    top: 60px;
    margin: 0 auto;
    z-index: 0;
}

.output {
    position: absolute;
    top: 50px;
    right: 5%;
    text-align: left;
    z-index: 1;
}

code {
    display: block;
    position: relative;
    color: #333;
    font: normal .7em/1.2em sans-serif;
    white-space: pre;
    min-width: 220px;
    margin-top: 2em;
    padding: 20px;
}

code:before {
    position: absolute; 
    top: -15px;
    left: 10px;
    font-weight: bold;
    padding: .4em;  
}

code.css:before {
    content: "CSS";
}

code.html:before {
    content: "HTML";
}

code .copy {
    position: absolute;
    bottom: 0;
    right: 0;
    background: url(../images/copy.png) no-repeat center center;
    width: 32px;
    height: 32px;
    cursor: pointer;
}