body,
html {
	height: 100%;	
}

body {
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjOWZlZTAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #9fee00 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#9fee00)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#9fee00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#9fee00 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#9fee00 100%); /* IE10+ */
	background: radial-gradient(center, ellipse cover,  #ffffff 0%,#9fee00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#9fee00',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
	font: normal 16px sans-serif;
	text-align: center;
}

form {
	position: absolute;
	top: 50px;
	left: 5%;
	text-align: left;
	z-index: 1;
}

input {
	clear: left;
	float: left;	
}

input[type=radio] {
	margin: 0 0 0 .4em;
	padding: 0;
	cursor: pointer;
}

label {
	float: left;	
	line-height: 1.3em;
	padding-left: .3em;
	cursor: pointer;
}

fieldset,
legend,
pre,
pre:before {
	background: #EEF;
	background: rgba(238, 238, 255, .6);
	border: solid 1px #CCC;
	border-radius: 5px;
	-moz-transition: all .2s ease;
	-webkit-transition: all .2s ease;	
	transition: all .2s ease;
}

fieldset:hover,
fieldset:hover legend,
pre:hover,
pre:hover:before {
	background: rgba(238, 238, 255, .9);
}

fieldset {
	clear: left;
	float: left;
	font-size: .8em;
	width: 150px;
	padding: .6em .6em 1em;
	margin-top: 1em;
}

fieldset.size {
	line-height: 1.8em;	
}

fieldset.size legend {
	line-height: 1em;	
}

input[name=size] {
	display: inline-block;
	text-align: center;
	width: 1.2em;
	padding: .1em;
	border: solid 1px #CCC;
}

legend {
	font-weight: bold;
	padding: .4em;	
}

.smiley {
	display: block;	
	position: relative;
	top: 60px;
	margin: 0 auto;
	z-index: 0;
}

.output {
	position: absolute;
	top: 50px;
	right: 5%;
	text-align: left;
	z-index: 1;
}

pre {
	display: block;
	position: relative;
	color: #333;
	font-size: .8em;
	line-height: 1.2em;
	min-width: 220px;
	margin-top: 2em;
	padding: 20px;
}

pre:before {
	position: absolute;	
	top: -15px;
	left: 10px;
	font-weight: bold;
	padding: .4em;	
}

pre.css:before {
	content: "CSS";
}

pre.html:before {
	content: "HTML";
}